.container-fluid {
  padding: 0px;
}


.articles {
  color: rgb(56,41,44);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(132,60,61);
  margin: 23px 24px 0px 15px;
  padding: 20px 15px 0px 15px;
  background-color: rgb(189,173,148);
  border-radius: 1px;
  word-wrap: break-word;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 220px;


}



.articles:hover {
   background-color: #f1f1f1;
   text-decoration: none;
}
.article-title {
  padding: 0;
  margin: 9px 0 0 0;
  letter-spacing: 2px;
  font-size: 19px;
}



.image_articles {
  height: 120px;
  width: 100%;
  margin: 10px 0px 0 6px;
  border-radius: 3px;


   
}

.image-article-division {
   }

.article-text-first {
  margin: 0px;
  font-size: 15px;
}

.articles-icon {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}


.all-articles-icon-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 19px;
}

.article-text-second {
  margin-top: 35px;
  font-size: 15px;
}


html {
  background-color: rgb(132,60,61);
}
/*body */
body {
  color: rgb(56,41,44);
  background-color: rgb(231,233,220);
  font-family: Verdana, Geneva, sans-serif;
}


/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 35px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  background: #fff;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 22px;
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 5px 0px 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.links {
  margin-top: 20px;
}

.mainnavbar {
  padding: 0px 25px 0px 0px;
}



.image {
  height: 120px;
  width: 100px;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.margin {
  margin-top: 55px;
}

.name {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 17.5px;
  padding: 0px;
}

.accountType {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: blue;
  padding: 0px;
}



.navtext {
  float: right;
}







.image_articles {
  height: 160px;
  width: 100%;
  margin: 10px;
  border-style: solid;
  border-width: thin;
}

.article_text {
  margin: 10px;
}

.message {
  height: 170px;
}

.message p {
  padding: 0px;
  margin: 0px;
}


.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 120px;
}

.ptest {
  margin-bottom: 25px;
}



.postblog{
  padding-top: 120px;
}
.text-area {
   resize: none;
   height:50px;
   width: 100%;
 }